
@{
    ViewBag.Title = "AboutUs";
}

<div class="breadcrumb left">
    <span class=""><a href="@Url.Action("","Home")"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    @*<span class=""><a href="#"> Wind Turbines </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>*@
    <span class=""><a href="#"> About Us </a></span>
</div>

<div class="content_form">
    <div class="section left">
        <div class="title" style="margin-bottom:5px"><h1> About Us </h1></div>
        <div class="img_sec left"><img src="~/images/Image1.jpg" /></div>

        <div class="field_text">
            <p>
                <strong>
                    RenewIn is independent, reliable and transparent e-business platform for All your Renew Energy related
                    services. RenewIn Marketplace \ e-business platform will help you to
                </strong>
            </p>
            <ul>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    Apply online to start any of your Renew energy projects. Apply online for
                    starting any of your Solar , Wind , Bio  & Hydro Projects and then sit back while qualified installers compete
                    for your business.
                </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    Apply for Solar energy projects like solar roof top & Solar Parks. Buy solar pumps,
                    solar water heaters & any other solar equipment.
                </li>
                <img class="left" src="~/images/tick.png" />
                <li> Get free quotes for your solar, Wind, Hydro & Bio Energy projects. </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    RenewIn is platform for buyers and sellers in the Renew Energy ( Solar, Wind,
                    Hydro & Bio Energy ) aftermarket.
                </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    Using RenewIn platform you can search for Renew Energy related services.
                    When you can't find what you are looking for?  you can go ahead & PLACE SEARCH REQUEST.
                </li>
            </ul>
        </div>
        <div class="clr"></div>
    </div>

    <div class="section1 left">
        <div class="title"><h1> OFFICES </h1></div>
        <div class="field_text1">
            <div class="add_text">
                <p><strong>Bengaluru, India</strong></p>
                <p>Tel: +91 9663004422 </p>
                <a href="#">lokesh@renewin.com </a> <br>
                <p>Lokesh G</p>
            </div>
            <div class="add_text" style="margin-top:20px;">
                <p><strong>Mumbai, India</strong></p>
                <p>Tel: +91 9886519828 </p>
                <a href="#">Vishal@renewin.com </a> <br>
                <p>Vishal J</p>
            </div>
            <div class="title" style="margin-top:50px;"><h1> CUSTOMER SUPPORT </h1></div>
            <div class="add_text" style="margin-top:20px;">
                <p><strong>Support</strong></p>
                <a href="#">support@renewin.com </a> <br>
                <p>Support team</p>
            </div>
        </div>
        <div class="clr"></div>
    </div>

</div>

