@{
    ViewBag.Title = "Wind";
}
<div class="form_slider_wrapper">
    <span class="prev_slide"></span>
    <span class="next_slide"></span>
    <div class="container">
        <div id="wind_form_slider" class="form_slider">
            <div class="error_tooltip">
                <div class="error_msg"></div>
                <div class="pointer"></div>
            </div>
            <div id="wind_slides_group" class="slides_group">
                <div id="wind_form_slide_1" class="slides">
                    <h1 class="slide_title">State whether you are</h1>
                    <div class="input_frame">
                        <div id="wind_services" class="option_holder radio_options ApplicantType">
                            <div id="Individuals" class="option_box">
                                <div class="icon margin_icon indivi_img"><div class="bio_indivi_img bioimg_size indivi_bg"></div></div>
                                <span class="selectable"></span>
                                <h3 class="label">Individuals</h3>
                            </div>
                            <div id="Corporates" class="option_box">
                                <div class="icon margin_icon business_bg"><div class="bio_indivi_img bioimg_size corpor_bg"></div></div>
                                <span class="selectable"></span>
                                <h3 class="label">Corporates</h3>
                            </div>
                            <div id="Industries" class="option_box">
                                <div class="icon margin_icon pumps_bg"><div class="bio_indivi_img bioimg_size indus_bg"></div></div>
                                <span class="selectable"></span>
                                <h3 class="label">Industries</h3>
                            </div>
                            <div id="Trusts/Co-Ops" class="option_box">
                                <div class="icon margin_icon others_bg"><div class="bio_indivi_img bioimg_size trusts_bg"></div></div>
                                <span class="selectable"></span>
                                <h3 class="label">Trusts/Co-Ops</h3>
                            </div>
                            <div id="Govt Organizations" class="option_box">
                                <div class="icon margin_icon park_bg"><div class="bio_indivi_img bioimg_size govt_bg"></div></div>
                                <span class="selectable"></span>
                                <h3 class="label">Govt Organizations</h3>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="wind_form_slide_2" class="slides">
                    <h1 class="slide_title">Applicant \ organization details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">

                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size contact_img"></span></span>
                                <input id="txtApplicantName" class="no_label grey_text" type="text" placeholder="Name of Applicant \ Organization" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size pan_img"></span></span>
                                <input id="txtPAN" class="no_label grey_text" type="text" placeholder="Parmanent Account Number (PAN)" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size cin_img"></span></span>
                                <input id="txtCIN" class="no_label grey_text" type="text" placeholder="Company Identification Number (CIN)" />
                            </div>

                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="wind_form_slide_3" class="slides">
                    <h1 class="slide_title">Location of the proposed wind farm</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">

                            <div class="icon_input textarea">
                                <span class="icon"><span class="sprite_img icon_size add_img"></span></span>
                                <textarea id="txtAddress" class="no_label grey_text" placeholder="Address"></textarea>
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size add_img"></span></span>
                                <input id="txtLocation" class="no_label grey_text" type="text" placeholder="Location" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size pin_img"></span></span>
                                <input id="txtPincode" class="no_label grey_text" type="text" placeholder="Pincode" />
                            </div>

                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="wind_form_slide_4" class="slides">
                    <h1 class="slide_title">Wind project details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">

                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size weg_img"></span></span>
                                <input id="txtTotalWEGPlanned" class="no_label grey_text" type="text" placeholder="No. of wind electric generators (WEG)" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size capacity_img"></span></span>
                                <input id="txtProposedCapacity" class="no_label grey_text" type="text" placeholder="Capacity of the wind farm project" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size rs_img"></span></span>
                                <input id="txtEstimatedProjectCost" class="no_label grey_text" type="text" placeholder="Estimated cost of the project" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size rs_img"></span></span>
                                <input id="txtAvgLast3yrTurnOver" class="no_label grey_text" type="text" placeholder="Average turnover in last 3 years" />
                            </div>

                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="wind_form_slide_5" class="slides">
                    <h1 class="slide_title">Contact details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">

                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size contact_img"></span></span>
                                <input id="txtName" class="no_label grey_text" type="text" placeholder="Contact Person Name" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size email_img"></span></span>
                                <input id="txtEmailWind" class="no_label grey_text" type="text" placeholder="Email Id" />
                            </div>
                            <div class="icon_input">
                                <span class="icon"><span class="sprite_img icon_size mob_img"></span></span>
                                <input id="txtMobileNo" class="no_label grey_text" type="text" placeholder="Mobile Number" />
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>

                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn" id="btnWindSubmit">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
