
@{
    ViewBag.Title = "ThankYou";
}

<div class="container">
    <h1 class="title_big">Thank You</h1>
    <div class="body_text_area">
        <p class="body_text_big">
            Loreum <span>99%</span> of Ipsum dummy text Lorem<br>

            Loreum <span>156,951</span> loreum ipsum ipusm loreum loreum.<br>

            Ipsum <span>68%</span> on your ipsum ipsum.<br>

            Ipsum Loreum ipsum oreum <span>$0</span> loreum.<br>

            Ipsum <span>68%</span> on your ipsum ipsum.<br><br>
            <a href="@Url.Action("","EnquiryList")">User Grid</a>
        </p>

    </div>
</div>

