
@{
    ViewBag.Title = "Renew Services";
}

<div class="container">
    <div class="service_middle">
        <div class="home_image" style="height:100px;"> Loreum Ipsum </div>
        <p class="service_text">
            Nunc rhoncus egestas magna. Ut non metus tristique ex euismod egestas sed nec elit. Praesent vulputate
            convallis commodo. Sed a scelerisque erat. Morbi sollicitudin, nulla ac faucibus feugiat, ligula enim
            auctor nulla, consequat blandit metus diam ac turpis. Suspendisse ac fermentum nisi
        </p>
    </div>
    <div class="content_container">
        <a href="@Url.Action("","Solar/Services")">
            <div class="evntdvone services_wid left">
                <div class="orange_icon finance_bg bor_radius marg"><div class="renew_img home_icon_size bio_bg"></div></div>
                <span class="selectable"></span>
                <h4> Solar Services </h4>
            </div>
        </a>
        <a href="@Url.Action("","Wind/Services")">
            <div class="evntdvone services_wid left">
                <div class="light_blue_icon business_bg bor_radius marg"><div class="renew_img home_icon_size windpower_bg"></div></div>
                <span class="selectable"></span>
                <h4> Wind Power </h4>
            </div>
        </a>
        <a href="@Url.Action("","Hydro/Services")">
            <div class="evntdvone services_wid left">
                <div class="blue_icon others_bg bor_radius marg"><div class="renew_img home_icon_size hydropower_bg"></div></div>
                <span class="selectable"></span>
                <h4> Hydro Power </h4>
            </div>
        </a>
        <a href="@Url.Action("","Bio/Services")">
            <div class="evntdvone services_wid left">
                <div class="green_icon staff_bg bor_radius marg"><div class="renew_img home_icon_size bio_energy"></div></div>
                <span class="selectable"></span>
                <h4> Bio Energy </h4>
            </div>
        </a>
    </div>
    <div class="clr"></div>
</div>

