
@{
    ViewBag.Title = "Renew Services";
}

<div class="container">
    <div class="home_middle_sec">
        <div class="home_image" style="height:100px" ;></div>
        <p class="home_text">
            Loreum Ipsum Dummy Text Comes Here<br>
            <span>Lorem ipsum  - dolor sit -  consectetur - adipiscing - Mpibus</span>
        </p>
    </div>
    <div class="content_container">
        <a href="@Url.Action("","Solar/Services")">
            <div class="evntdvone left">
                <div class="orange_icon"><div class="renew_img home_icon_size solarpower_bg"></div></div>
                <span class="selectable"></span>
                <h4> Solar Services </h4>
            </div>
        </a>
        <a href="@Url.Action("","Wind/Services")">
            <div class="evntdvone left">
                <div class="light_blue_icon"><div class="renew_img home_icon_size windpower_bg"></div></div>
                <span class="selectable"></span>
                <h4> Wind Power </h4>
            </div>
        </a>
        <a href="@Url.Action("","Hydro/Services")">
            <div class="evntdvone left">
                <div class="blue_icon"><div class="renew_img home_icon_size hydropower_bg"></div></div>
                <span class="selectable"></span>
                <h4> Hydro Power </h4>
            </div>
        </a>
        <a href="@Url.Action("","Bio/Services")">
            <div class="evntdvone left">
                <div class="green_icon"><div class="renew_img home_icon_size bio_bg"></div></div>
                <span class="selectable"></span>
                <h4> Bio Energy </h4>
            </div>
        </a>
    </div>
    <div class="clr"></div>
</div>

