@{ var userDetail = (CustomAuthentication.User)ViewData["UserDetail"]; }
@{
    ViewBag.Title = "Changed Password";
}

<div class="container">
    <ul id="tabs">
        <li class="border_tabs"><a href="~/ProfileSetting/MyApplication">My Applications</a></li>
        <li class="border_tabs"><a href="~/ProfileSetting/ProfileDetail">Profile Detail</a></li>
        <li class="border_tabs"><a href="~/ProfileSetting/UploadDocuments">Upload Documents</a> </li>
        <li class="border_tabs"><a href="~/ProfileSetting/Feedback">Feedback</a> </li>
        <li><a href="#ChangedPassword" class="current">Changed Password</a></li>
    </ul>
    <div class="content">
        <div id="ChangedPassword" class="tab_section">
            <h3>Changed Password</h3>
            <div class="form_content">
                @using (Html.BeginForm("ChangedPassword", "ProfileSetting"))
                {
                    <div>
                        <input class="form_input top_15" name="oldPassword" id="oldPassword" type="password" placeholder="Old Password" />
                    </div>
                        <div>
                            <input class="form_input top_15" name="newPassword" id="newPassword" type="password" placeholder="New Password" />
                        </div>
                        <div>
                            <input class="form_input top_15" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" />
                        </div>
                        <div class="button_wid top_55">
                            <button type="submit" class="btn_form">Continue</button>
                        </div>
                }
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>