
@{
    ViewBag.Title = "Feedback";
}

<div class="container">
    <ul id="tabs">
        <li class="border_tabs"><a href="~/ProfileSetting/MyApplication">My Applications</a></li>
        <li class="border_tabs"><a href="~/ProfileSetting/ProfileDetail">Profile Detail</a></li>
        <li class="border_tabs"><a href="~/ProfileSetting/UploadDocuments">Upload Documents</a> </li>
        <li><a href="#Feedback" class="current">Feedback</a> </li>
        <li class="border_tabs"><a href="~/ProfileSetting/ChangedPassword">Changed Password</a> </li>
    </ul>
    <div class="content">
        <h3> Feedback </h3>
        <div class="form_content">
            <div>
                <input class="form_input top_15" type="text" placeholder="Feedback / Query / Support Question" />
            </div>
            <div>
                <textarea class="form_input textarea_input top_15" type="text" placeholder="Please let us know your feedback or Suggestion or Type here to ask any support questions." /></textarea>
            </div>
            <div class="button_wid top_55">
                <button type="button" class="btn_form">Continue</button>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>

