
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="single_grid_wrapper">
        <table class="single_grid_head" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="21%">Option</td>
                <td width="18%">Best rate</td>
                <td width="18%">EMI (Monthly Fee)</td>
                <td width="18%">Processing Fees</td>
                <td width="25%">Action</td>
            </tr>
        </table>

        <table class="single_grid" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="top">
                <td width="21%"><img src="../images/logo_solar.png" /></td>
                <td class="value" width="18%">12.0%</td>
                <td class="value" width="18%">Rs 5540/-</td>
                <td class="value" width="18%">Rs 1250/-</td>
                <td width="25%">
                    <button class="btn_small">Shortlist</button>
                    <button class="btn_small">Checkout</button>
                </td>
            </tr>
            <tr class="middle">
                <td colspan="5" class="details">Rs 750/- off <a class="left_20 link">View Details</a></td>
            </tr>
            <tr class="bottom">
                <td colspan="5" align="right" class="details">Lorem ipsum dolor sit amet</td>
            </tr>
        </table>

        @*<table class="single_grid" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="top">
                    <td width="21%"><img src="images/logo_solar.png" /></td>
                    <td class="value" width="18%">12.0%</td>
                    <td class="value" width="18%">Rs 5540/-</td>
                    <td class="value" width="18%">Rs 1250/-</td>
                    <td width="25%">
                        <button class="btn_small">Shortlist</button>
                        <button class="btn_small">Checkout</button>
                    </td>
                </tr>
                <tr class="middle">
                    <td colspan="5" class="details">Rs 750/- off <a class="left_20 link">View Details</a></td>
                </tr>
                <tr class="bottom">
                    <td colspan="5" align="right" class="details">Lorem ipsum dolor sit amet</td>
                </tr>
            </table>

            <table class="single_grid" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="top">
                    <td width="21%"><img src="images/logo_solar.png" /></td>
                    <td class="value" width="18%">12.0%</td>
                    <td class="value" width="18%">Rs 5540/-</td>
                    <td class="value" width="18%">Rs 1250/-</td>
                    <td width="25%">
                        <button class="btn_small">Shortlist</button>
                        <button class="btn_small">Checkout</button>
                    </td>
                </tr>
                <tr class="middle">
                    <td colspan="5" class="details">Rs 750/- off <a class="left_20 link">View Details</a></td>
                </tr>
                <tr class="bottom">
                    <td colspan="5" align="right" class="details">Lorem ipsum dolor sit amet</td>
                </tr>
            </table>*@

    </div>
</div>

