@{ var userDetail = (CustomAuthentication.User)ViewData["UserDetail"]; }
@{
    ViewBag.Title = "Upload Documents";
}
<div class="breadcrumb left">
    <span class=""><a href="@Url.Action("","Home")"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> Upload Documents </a></span>
</div>
<div class="container">
    <div class="section" style="width:98% !important;">
        <div class="title"><h1>Welcome to your RenewIn Upload Documents page </h1></div>
    </div>
    <ul id="tabs">
        <li class="border_tabs"><a href="~/ProfileSetting/MyApplication">My Applications</a></li>
        <li class="border_tabs"><a href="~/ProfileSetting/ProfileDetail">Profile Detail</a></li>
        <li><a href="#UploadDocuments" class="current">Upload Documents</a></li>
        <li class="border_tabs"><a href="~/ProfileSetting/Feedback">Feedback</a></li>
        @if (userDetail.Password != "GoogleLogin" && userDetail.Password != "FacebookLogin")
        {
            <li class="border_tabs"><a href="~/ProfileSetting/ChangedPassword">Change Password</a></li>
        }
    </ul>
    <div class="content">
        <div class="content_file">
            <h3>Upload Documents</h3>
            <div id="content_frame_area" class="shadow_box left_10">
                <div border="0" cellpadding="0" cellspacing="0" class="form_table_big">
                    <div class="text_pan left"> ELECTRICITY BILL </div>
                    <label class="file left">
                        <span class="file-label">Choose a File..</span>
                        <input type="file" id="myFileEBill">
                        <span class="file-value" aria-hidden="true"></span>
                    </label>
                    <button class="round_btn" onClick="upload_file('electricity');">Upload</button>
                    <span id="electricityUpload" class="left_arrow" style="margin-left:0px !important;"></span>
                    <div class="relative">
                        <div id="id_card_photo_preview" class="id_card_photo_preview">
                            <h3>File Uploaded </h3>
                            <a class="link top_10 block left" onClick="remove_file();">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_frame_area" class="shadow_box left_10">
                <div border="0" cellpadding="0" cellspacing="0" class="form_table_big">
                    <div class="text_pan left"> PAN CARD </div>
                    <label class="file left">
                        <span class="file-label">Choose a File..</span>
                        <input type="file" id="myFilePAN">
                        <span class="file-value" aria-hidden="true"></span>
                    </label>
                    <button class="round_btn" onClick="upload_file('pan');">Upload</button>
                    <span id="panUpload" class="left_arrow" style="margin-left:0px !important;"></span>
                    <div class="relative">
                        <div id="id_card_photo_preview" class="id_card_photo_preview">
                            <h3>File Uploaded </h3>
                            <a class="link top_10 block left" onClick="remove_file();">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_frame_area" class="shadow_box left_10">
                <div border="0" cellpadding="0" cellspacing="0" class="form_table_big">
                    <div class="text_pan left"> VOTER ID </div>
                    <label class="file left">
                        <span class="file-label">Choose a File..</span>
                        <input type="file" id="myFileVoterId">
                        <span class="file-value" aria-hidden="true"></span>
                    </label>
                    <button class="round_btn" onClick="upload_file('voter');">Upload</button>
                    <span id="voterUpload" class="left_arrow" style="margin-left:0px !important;"></span>
                    <div class="relative">
                        <div id="id_card_photo_preview" class="id_card_photo_preview">
                            <h3>File Uploaded </h3>
                            <a class="link top_10 block left" onClick="remove_file();">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_frame_area" class="shadow_box left_10">
                <div border="0" cellpadding="0" cellspacing="0" class="form_table_big">
                    <div class="text_pan left"> COMPANY DOCS </div>
                    <label class="file left">
                        <span class="file-label">Choose a File..</span>
                        <input type="file" id="myFileCompanyDocs">
                        <span class="file-value" aria-hidden="true"></span>
                    </label>
                    <button class="round_btn" onClick="upload_file('company');">Upload</button>
                    <span id="companyUpload" class="left_arrow" style="margin-left:0px !important;"></span>
                    <div class="relative">
                        <div id="id_card_photo_preview" class="id_card_photo_preview">
                            <h3>File Uploaded </h3>
                            <a class="link top_10 block left" onClick="remove_file();">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="button_wid top_55">
                    <button type="button" class="btn_form but_wid">Submit</button>
                </div>*@
        </div>
    </div>
    <div class="clr"></div>
</div>

