<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <p>
        Dear Customer,
        <br />
        <br />
        Thank you for your interest in the Renewable Energy !!
        <br />
        <br />
        We appreciate your input, and will follow up with you regarding your application status as soon as we are able.
        Please feel free to send any of your queries to support@renewin.com
        <br />
        <br />
        All Renewin services are Free and will be Free Always!!!
        <br />
        <br />
        Thank you,
        <br />
        Your RenewIn Team
    </p>
</body>
</html>
