<div class="container">
    <div id="form_slider" class="form_slider">
        <span class="prev_slide"></span>
        <span class="next_slide"></span>
        <div id="slides_group" class="slides_group">
            <div id="form_slide_1" class="slides">
                <h1 class="slide_title">Solar Service Type</h1>
                <div class="option_holder radio_options SolarServiceType">
                    <div class="option_box">
                        <img class="icon" src="../images/option_2_icon.png" />
                        <h3 class="label">Solar Roof Top</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_3_icon.png" />
                        <h3 class="label">Solar Farm</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_4_icon.png" />
                        <h3 class="label">Solar Pump</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_3_icon.png" />
                        <h3 class="label">Solar Water Heaters</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_4_icon.png" />
                        <h3 class="label">Solar Equipments</h3>
                        <span class="selectable"></span>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="btn_area">
                    <button class="btn_normal_2 continue_btn">Continue</button>
                </div>
            </div>
            <div id="form_slide_2" class="slides">
                <h1 class="slide_title">State whether you are</h1>
                <div class="option_holder radio_options ApplicantType">
                    <div class="option_box">
                        <img class="icon" src="../images/option_2_icon.png" />
                        <h3 class="label">Individual</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_3_icon.png" />
                        <h3 class="label">Corporates</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_4_icon.png" />
                        <h3 class="label">Industries</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_3_icon.png" />
                        <h3 class="label">Trust CoOperative</h3>
                        <span class="selectable"></span>
                    </div>
                    <div class="option_box">
                        <img class="icon" src="../images/option_4_icon.png" />
                        <h3 class="label">Govt</h3>
                        <span class="selectable"></span>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="btn_area">
                    <button class="btn_normal_2 continue_btn">Continue</button>
                </div>
            </div>
            <div id="form_slide_3" class="slides">
                <h1 class="slide_title">Location of the proposed Solar Site</h1>
                <div class="input_element_holder multiple_fields">
                    <div class="icon_input textarea" style="margin-bottom:15px;">
                        <span class="icon"><img src="../images/location_icon_white.png" /></span>
                        <textarea class="no_label grey_text" title="Enter Address" id="txtAddress"></textarea>
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/pin_code_icon.png" /></span>
                        <input class="no_label grey_text" type="text" title="Pincode" id="txtPincode" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/pin_code_icon.png" /></span>
                        <input class="no_label grey_text" type="text" title="GPS Latitude" id="txtGPSLatitude" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/pin_code_icon.png" /></span>
                        <input class="no_label grey_text" type="text" title="GPS Longitude" id="txtGPSLongitude" />
                    </div>
                </div>
                <div class="clr"></div>
                <div class="btn_area">
                    <button class="btn_normal_2 continue_btn">Continue</button>
                </div>
            </div>
            <div id="form_slide_4" class="slides">
                <h1 class="slide_title">Solar System Details</h1>
                <div class="input_element_holder multiple_fields">
                    <div class="icon_input">
                        <span class="icon"><img src="../images/radio_on.png" /></span>
                        <input class="no_label grey_text" type="text" title="Monthly Electricity Bill" id="txtMonthlyElectricityBill" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/radio_on.png" /></span>
                        <input class="no_label grey_text" type="text" title="Proposed Capacity KW" id="txtProposedCapacityKW" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/facebook_icon_white.png" /></span>
                        <input class="no_label grey_text" type="text" title="Shadow Free Area" id="txtShadowFreeArea" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/google_plus_icon_white.png" /></span>
                        @*<input class="no_label grey_text" type="text" title="Intallation Req Form" id="txtIntallationReqForm" />*@
                        <select class="no_label grey_text" id="txtIntallationReqForm">
                            <option value="Immediately">Immediately</option>
                            <option value="One Month">One Month</option>
                            <option value="Three Month">Three Month</option>
                        </select>
                    </div>
                </div>
                <div class="clr"></div>
                <div class="btn_area">
                    <button class="btn_normal_2 continue_btn">Continue</button>
                </div>
            </div>
            <div id="form_slide_5" class="slides">
                <h1 class="slide_title">Contact Details</h1>
                <div class="input_element_holder multiple_fields">
                    <div class="icon_input">
                        <span class="icon"><img src="../images/name_icon.png" /></span>
                        <input class="no_label grey_text" type="text" title="Name" id="txtName" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/mobile_icon_white.png" /></span>
                        <input class="no_label grey_text" type="text" title="Mobile Number" id="txtMobileNo" />
                    </div>
                    <div class="icon_input">
                        <span class="icon"><img src="../images/email_icon_white.png" /></span>
                        <input class="no_label grey_text" type="text" title="Email" id="txtEmailEnquiry1" />
                    </div>
                </div>
                <div class="clr"></div>
                <P class="disclaimer_text">
                    We don’t spam or sell your details to annoying people. <br>
                    <input type="checkbox" /> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus sem pretium nunc semper consectetur. Integer posuere arcu eget mi molestie
                </P>
                <div class="btn_area">
                    <button class="btn_normal_2" id="btnSolarSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>