
@{
    ViewBag.Title = "SolarServices";
}
<style>
    .footer_new { position: relative !important; }
</style>
<div class="breadcrumb left">
    <span class=""><a href="@Url.Action("","Home")"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="@Url.Action("", "RenewServices")"> Place Search Request </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="@Url.Action("Services", "Solar")"> Solar Services </a></span>
</div>
<div class="form_slider_wrapper">
    <span class="prev_slide"></span>
    <span class="next_slide"></span>
    <div class="container">
        <div id="solar_renew_form_slider" class="form_slider">
            <div id="solar_renew_slides_group" class="slides_group">
                <div id="solar_renew_form_slide_1" class="slides">
                    <h1 class="slide_title">Location of the Solar Plant</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">
                            <div class="MB15">
                                <div class="icon_input textarea">
                                    <span class="icon"><span class="sprite_img icon_size add_img"></span></span>
                                    <textarea id="solar_renew_address" class="no_label grey_text" placeholder="Address"></textarea>
                                </div>
                                <span id="add123" class="left_arrow"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size add_img"></span></span>
                                    <input id="txtLocation" class="no_label grey_text" type="text" placeholder="Location" />
                                </div>
                                <span id="loc123" class="left_arrow"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size pin_img"></span></span>
                                    <input id="solar_renew_pincode" class="no_label grey_text" type="text" placeholder="Pincode" onkeypress="return isNumberKey(event)" data-minlength="6" maxlength="6" />
                                </div>
                                <span id="pin123" class="left_arrow" style="margin-left:-130px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="solar_renew_form_slide_2" class="slides">
                    <h1 class="slide_title" style="padding:15px 0 15px 0 !important;">Service you are looking for</h1>
                    <div class="input_frame">
                        <div id="ServiceLookingType" class="option_holder radio_options small_options ServiceLookingType">
                            <div id="solar_renew_roof_top" class="option_box">
                                <div class="icon margin_icon roof_bg"><div class="solar_renew_img img_size roof_img"></div></div>
                                <h3 class="label">Solar Roof Top</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_park" class="option_box">
                                <div class="icon margin_icon park_bg"><div class="solar_renew_img img_size park_img"></div></div>
                                <h3 class="label">Solar Farm/Park</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_pumps" class="option_box">
                                <div class="icon margin_icon pumps_bg"><div class="solar_renew_img img_size pumps_img"></div></div>
                                <h3 class="label">Solar Pumps</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_water_heaters" class="option_box">
                                <div class="icon margin_icon water_bg"><div class="solar_renew_img img_size water_img"></div></div>
                                <h3 class="label">Solar Water Heaters</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_finance" class="option_box">
                                <div class="icon margin_icon finance_bg"><div class="solar_renew_img img_size finance_img"></div></div>
                                <h3 class="label">Solar Finance</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_training" class="option_box">
                                <div class="icon margin_icon training_bg"><div class="solar_renew_img img_size training_img"></div></div>
                                <h3 class="label">Solar Training</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_logistics" class="option_box">
                                <div class="icon margin_icon logistic_bg"><div class="solar_renew_img img_size logistic_img"></div></div>
                                <h3 class="label">Logistic Services</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_business" class="option_box">
                                <div class="icon margin_icon business_bg"><div class="solar_renew_img img_size business_img"></div></div>
                                <h3 class="label">Business &amp; Development</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_recruitment" class="option_box">
                                <div class="icon margin_icon staff_bg"><div class="solar_renew_img img_size staff_img"></div></div>
                                <h3 class="label">Staff &amp; Recruitment</h3>
                                <span class="selectable"></span>
                            </div>
                            <div id="solar_renew_other_services" class="option_box">
                                <div class="icon margin_icon others_bg"><div class="solar_renew_img img_size others_img"></div></div>
                                <h3 class="label">Others</h3>
                                <input id="solar_renew_others" type="text" class="input top_10" />
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>

                    <div class="clr"></div>
                    <span id="serviceLooking" class="left_arrow" style="margin-left:-7px;"></span>
                    <div class="btn_area" style="padding-top:20px !important;">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="solar_renew_form_slide_3" class="slides">
                    <h1 class="slide_title">Service request details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><img src="../images/location_icon_white.png" /></span>
                                    <input id="solar_renew_service" class="no_label grey_text" type="text" placeholder="Type Service you are Looking for" />
                                </div>
                                <span id="serviceType" class="left_arrow" style="margin-left:-75px;"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input textarea">
                                    <span class="icon"><span class="sprite_img icon_size item_img"></span></span>
                                    <textarea id="solar_renew_msg" class="no_label grey_text" placeholder="Please provide information on your requested item(s)"></textarea>
                                </div>
                                <span id="serviceMsg" class="left_arrow" style="margin-left:-130px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="hydro_renew_form_slide_4" class="slides">
                    <div class="ppfPhotoContainer" style="margin-left:25px;">
                        <div class="firstUpload mt25">
                            <div class="m10">
                                <b>Please upload photos for getting 2 times better response.</b> Please also choose the
                                <b> 'cover photo'</b> which will appear on the main search page.Other photos will appear in the gallery view.
                            </div>
                            <div class="margin_sec">
                                If you don't have a property photo, you may still continue to post your Ad.
                                Email us the images to: <a href="mailto:photos@99acres.com">photos@gmail.com</a>
                            </div>
                        </div>
                        <div class="examplePhotoPack right">
                            <div class="mt15 f14 right" style="padding:0 14px 5px 0;">Example: <b class="f13">Land Photo </b></div>
                            <div class="clr"></div>
                            <div class="imgB right">
                                <img class="aPhBox_img" src="~/images/Hydrangeas.jpg" />
                            </div>
                        </div>
                        <div class="clr"></div>
                        <div class="imgAC715">
                            <div id="uploadedImgs" class="left"></div>
                            <div id="addNewImgBtn" style="margin-top:50px;">
                                <div class="imagePreview btn_img">
                                    <input class="browseBtn" type="file" name="Photo" id="uploadFile" />
                                    <input type="button" class="btn blue" value="Add Photo" />
                                </div>
                            </div>
                            <div id="newImgTemplate" class="hidden">
                                <div class="payOption add_photos left">
                                    <input name="new_img" type="radio" /><label for="Cover"> Cover Photo</label>
                                    <div class="imagePreview"></div>
                                    <div><a class="remove_photo">Remove</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="clr"></div>
                        <div class="text">(<b>Supported photo formats:</b> jpeg, bmp, gif, png; <b>Max file size:</b> 3MB; <b>Min file size:</b>10KB)</div>
                        <div class="text">* Cover photo is the photo which will appear on the main search page. Other photos will appear in the gallery view.</div>
                        <div class="clr"></div>
                        <div class="clr"></div>
                        <div class="btn_area" style="padding:0px !important;">
                            <button class="btn_normal_2 continue_btn">Continue</button>
                        </div>
                    </div>
                </div>

                <div id="solar_renew_form_slide_5" class="slides">
                    <h1 class="slide_title">Contact details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size com_img"></span></span>
                                    <input id="solar_renew_company_name" class="no_label grey_text" type="text" placeholder="Individual/Company Name" />
                                </div>
                                <span id="companyName" class="left_arrow"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size contact_img"></span></span>
                                    <input id="solar_renew_contact_person" class="no_label grey_text" type="text" placeholder="Contact Person Name" />
                                </div>
                                <span id="contactName" class="left_arrow" style=" margin-left: -111px;"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size email_img"></span></span>
                                    <input id="solar_renew_email" class="no_label grey_text" type="text" placeholder="Email Id" />
                                </div>
                                <span id="email" class="left_arrow" style="margin-left:-195px;"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size mob_img"></span></span>
                                    <input id="solar_renew_mobile" class="no_label grey_text" type="text" placeholder="Mobile Number" onkeypress="return isNumberKey(event)" maxlength="10" />
                                </div>
                                <span id="mobile" class="left_arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn" id="btnSolarServices">Finish</button>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>

