
@charset "utf-8";
/* CSS Document */

.popup{
	background:#f9fafb;
	padding:20px;
	width:auto !important;
}

.tooltip{
	background:#fff !important;
	box-shadow:0px 0px 5px #999;
}

.tooltip_pointer{
	margin:-18px auto 0 auto;
}

.popup .btn{
	background:#1abc9c!important;
	border-radius:4px;
	height:40px;
	line-height:40px;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border:none;
}

.popup_close_btn{
	background:url(../images/remove_btn.png) no-repeat center;
	width:18px;
	height:18px;
	display:inline-block;
	cursor:pointer;
	position:absolute;
	top:10px;
	right:10px;
}
