
@{
    ViewBag.Title = "Services";
}

<div class="form_slider_wrapper">
    <span class="prev_slide"></span>
    <span class="next_slide"></span>
    <div class="container">
        <div id="hydro_renew_form_slider" class="form_slider">
            <div id="hydro_renew_slides_group" class="slides_group">
                <div id="hydro_renew_form_slide_1" class="slides">
                    <h1 class="slide_title">Location of the Hydro Farm</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">
                            <div class="MB15">
                                <div class="icon_input textarea">
                                    <span class="icon"><span class="sprite_img icon_size add_img"></span></span>
                                    <textarea id="hydro_renew_address" class="no_label grey_text" placeholder="Address"></textarea>
                                </div>
                                <span id="add123" class="left_arrow"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size add_img"></span></span>
                                    <input id="txtLocation" class="no_label grey_text" type="text" placeholder="Location" />
                                </div>
                                <span id="loc123" class="left_arrow"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size pin_img"></span></span>
                                    <input id="hydro_renew_pincode" class="no_label grey_text" type="text" placeholder="Pincode" onkeypress="return isNumberKey(event)" data-minlength="6" maxlength="6" />
                                </div>
                                <span id="pin123" class="left_arrow" style="margin-left:-130px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="hydro_renew_form_slide_2" class="slides">
                    <h1 class="slide_title" style="padding:15px 0 15px 0 !important;">Service you are looking for</h1>
                    <div class="input_frame">
                        <div id="ServiceLookingType" class="option_holder radio_options small_options ServiceLookingType">

                            <div id="hydro_renew_equipment_maintenance" class="option_box">
                                <div class="icon margin_icon component_bg"><div class="solar_renew_img img_size hydro_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Hydro Equipment Maintenance</h3>
                            </div>
                            <div id="hydro_renew_turbine_generator" class="option_box">
                                <div class="icon margin_icon finance_bg"><div class="solar_renew_img img_size turbine_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Turbine/Generator Maintenance</h3>
                            </div>
                            <div id="hydro_renew_other_operations" class="option_box">
                                <div class="icon margin_icon water_bg"><div class="solar_renew_img img_size others_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Other Operations and Maintenance</h3>
                            </div>
                            <div id="hydro_renew_selling_power" class="option_box">
                                <div class="icon margin_icon business_bg"><div class="solar_renew_img img_size power_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Selling of Power</h3>
                            </div>
                            <div id="hydro_renew_financial" class="option_box">
                                <div class="icon margin_icon finance_bg"><div class="solar_renew_img img_size finance_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Financial Services</h3>
                            </div>

                            <div class="clr"></div>

                            <div id="hydro_renew_training" class="option_box">
                                <div class="icon margin_icon training_bg"><div class="solar_renew_img img_size training_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Training</h3>
                            </div>
                            <div id="hydro_renew_logistics" class="option_box">
                                <div class="icon margin_icon logistic_bg"><div class="solar_renew_img img_size logistic_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Logistic Services</h3>
                            </div>
                            <div id="hydro_renew_business" class="option_box">
                                <div class="icon margin_icon"><div class="solar_renew_img img_size business_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Business &amp; Development</h3>
                            </div>
                            <div id="hydro_renew_recruitment" class="option_box">
                                <div class="icon margin_icon staff_bg"><div class="solar_renew_img img_size staff_img"></div></div>

                                <span class="selectable"></span>
                                <h3 class="label">Staff &amp; Recruitment</h3>
                            </div>
                            <div id="hydro_renew_other_services" class="option_box">
                                <div class="icon margin_icon others_bg"><div class="solar_renew_img img_size others_img"></div></div>

                                <h3 class="label">Others</h3>
                                <input id="hydro_renew_others" type="text" class="input top_10" />
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <span id="serviceLooking" class="left_arrow" style="margin-left:-7px;"></span>
                    <div class="btn_area" style="padding-top:0px !important;">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="hydro_renew_form_slide_3" class="slides">
                    <h1 class="slide_title">Service request details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><img src="../images/location_icon_white.png" /></span>
                                    <input id="hydro_renew_service" class="no_label grey_text" type="text" placeholder="Type Service you are Looking for" />
                                </div>
                                <span id="serviceType" class="left_arrow" style="margin-left:-75px;"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input textarea">
                                    <span class="icon"><span class="sprite_img icon_size item_img"></span></span>
                                    <textarea id="hydro_renew_msg" class="no_label grey_text" placeholder="Please provide information on your requested item(s)"></textarea>
                                </div>
                                <span id="serviceMsg" class="left_arrow" style="margin-left:-130px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn">Continue</button>
                    </div>
                </div>

                <div id="hydro_renew_form_slide_4" class="slides">
                    <h1 class="slide_title">Contact details</h1>
                    <div class="input_frame">
                        <div class="input_element_holder multiple_fields">
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size com_img"></span></span>
                                    <input id="hydro_renew_company_name" class="no_label grey_text" type="text" placeholder="Individual/Company Name" />
                                </div>
                                <span id="companyName" class="left_arrow"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size contact_img"></span></span>
                                    <input id="hydro_renew_contact_person" class="no_label grey_text" type="text" placeholder="Contact Person Name" />
                                </div>
                                <span id="contactName" class="left_arrow" style=" margin-left: -111px;"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size email_img"></span></span>
                                    <input id="hydro_renew_email" class="no_label grey_text" type="text" placeholder="Email Id" />
                                </div>
                                <span id="email" class="left_arrow" style="margin-left:-195px;"></span>
                            </div>
                            <div class="MB15">
                                <div class="icon_input">
                                    <span class="icon"><span class="sprite_img icon_size mob_img"></span></span>
                                    <input id="hydro_renew_mobile" class="no_label grey_text" type="text" placeholder="Mobile Number" onkeypress="return isNumberKey(event)" maxlength="10"/>
                                </div>
                                <span id="mobile" class="left_arrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clr"></div>

                    <div class="btn_area">
                        <button class="btn_normal_2 continue_btn" id="btnHydroServices">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

