
@{
    ViewBag.Title = "AboutUs";
}

<div class="breadcrumb left">
    <span class=""><a href="#"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> Wind Turbines </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> About Us </a></span>
</div>

<div class="content_form">
    <div class="section left">
        <div class="title" style="margin-bottom:5px"><h1> About Us </h1></div>
        <div class="img_sec left"><img src="~/images/img.jpg" /></div>

        <div class="field_text">
            <p>
                <strong>
                    RenewIn is independent, reliable and transparent e-business platform for All your Renew Energy related
                    services. RenewIn Marketplace \ e-business platform will help you to
                </strong>
            </p>
            <ul>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    Apply online to start any of your Renew energy projects. Apply online for
                    starting any of your Solar , Wind , Bio  & Hydro Projects and then sit back while qualified installers compete
                    for your business.
                </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    Apply for Solar energy projects like solar roof top & Solar Parks. Buy solar pumps,
                    solar water heaters & any other solar equipment.
                </li>
                <img class="left" src="~/images/tick.png" />
                <li> Get free quotes for your solar, Wind, Hydro & Bio Energy projects. </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    RenewIn is platform for buyers and sellers in the Renew Energy ( Solar, Wind,
                    Hydro & Bio Energy ) aftermarket.
                </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    Using RenewIn platform you can search for Renew Energy related services.
                    When you can't find what you are looking for?  you can go ahead & PLACE SEARCH REQUEST.
                </li>
            </ul>
        </div>
        <div class="clr"></div>
    </div>

    <div class="section1 left">
        <div class="title"><h1> Offices </h1></div>
        <div class="field_text1">
            <div class="add_text">
                <p><strong>Germany, Frankfurt am Main</strong></p>
                <p>Tel: ++49-(0)172 5607464 </p>
                <a href="#">daniel@sparesinmotion.com</a> <br>
                <p>Daniel Kobryniec</p>
            </div>
            <div class="add_text" style="margin-top:20px;">
                <p><strong>The Netherlands, Rotterdam</strong></p>
                <p>Tel: +31-(0)85 4011724 </p>
                <p>Jochem Sauer</p>
                <p>Marc Huyzer</p>
            </div>
            <div class="title" style="margin-top:50px;"><h1> Customer Support </h1></div>
            <div class="add_text" style="margin-top:20px;">
                <p><strong>Spain, Madrid</strong></p>
                <p>Tel:+34 (0) 637 79 45 57 </p>
                <a href="#">Isabel.gonzales@sparesinmotion.com</a> <br>
                <p>Isabel Gonzales</p>
            </div>
        </div>
        <div class="clr"></div>
    </div>

</div>

