
@{
    ViewBag.Title = "Partners";
}
<style>
    .footer_new { position: relative !important; }
</style>
<div class="breadcrumb left">
    <span class=""><a href="#"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> Wind Turbines </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> Partners </a></span>
</div>
<div class="clr"></div>

<div class="request_container">
    <div class="title" style="margin-left:5px"><h1> Our Partners </h1></div>
    <div class="search_request_content">
        <p>
            Leading Organizations throughout the country have partnered with Renewable Energy. Renew in works with major
            energy department of the India.Our Business & Association involves working with & for all major organizations
            for promoting New & Renewable energy.
        </p> <br>
        <a href="#"> Partner With RenewIn </a> <br><br>
    </div>
    <div class="title"><h1> Business & Association </h1></div>
    <div class="partner_section">
        <div class="partner_sec left"><a href="#"><img src="~/images/MNRE.png" /></a></div>
        <div class="partner_sec left"><a href="#"><img src="~/images/ireda.jpg" /></a></div>
        <div class="partner_sec left"><a href="#"><img src="~/images/secilogo.JPG" /></a></div>
        <div class="partner_sec left"><a href="#"><img src="~/images/seci.jpg" /></a></div>

        <div class="partner_sec left"><a href="#"><img src="~/images/Nise.jpg" /></a></div>
        <div class="partner_sec left"><a href="#"><img src="~/images/ap.png" /></a></div>
        <div class="partner_sec left"><a href="#"><img src="~/images/Bescom.png" /></a></div>
        <div class="partner_sec left"><a href="#"><img src="~/images/Telangana.png" /></a></div>

        <div class="partner_sec left" style="margin-top:40px;"><a href="#"><img src="~/images/teda.png" /></a></div>

        <div class="partner_sec left" style="margin-top:50px;"><a href="#"><img src="~/images/rrec.png" /></a></div>
        <div class="partner_sec left" style="margin-top:50px;"><a href="#"><img src="~/images/Gescom.gif" /></a></div>
    </div>
</div>
<div class="clr"></div>

