
@{
    ViewBag.Title = "PlaceSearch";
}
<style>
    .footer_new { position: relative !important; }
</style>
<div class="breadcrumb left">
    <span class=""><a href="#"> Home </a></span>
    <span class="marg_arrow"><img src="~/images/arrow.png" /></span>
    <span class=""><a href="#"> Why Use a "Place search request?" </a></span>
</div>
<div class="clr"></div>

<div class="content_form" style="margin-top:0 ! important;">
    <div class="section" style="width:98% !important;">
        <div class="title" style="margin-bottom:5px"><h1> Why Use a "Place search request?" </h1></div>
        <div class="img_sec left"><img src="~/images/img.jpg" /></div>

        <div class="field_text">
            <p>
                <strong>
                    You can use a "Place Search Request" to place search requests on any of your Renew energy needs.
                    Get Free quotes for your solar , Wind, Hydro & Bio Energy  operations & Maintenance. It is platform for buyers
                    and sellers in the Renew Energy ( Solar, Wind, Hydro & Bio Energy ) aftermarket. You can search for Renew Energy
                    related services& Business opportunities.
                </strong>
            </p>
            <p><strong style="padding-top:10px !important;">When you can't find what you are looking for?  you can go ahead & PLACE SEARCH REQUEST. </strong> </p>
            <ul>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> Selling the Renew Power - Solar \ Wind \ Hydro \ Bio energy </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> Financing for Renew Energy projects </li>
                <img class="left" src="~/images/tick.png" />
                <li> Renew Energy Support & services - for Solar, wind, Hydro power & Bio Energy </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> It gives buyers the opportunity to purchase second hand parts instead of buying new </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    TRADING - Conduct business online through specific electronic requests for quotes,
                    precise responses, and easy communication.
                </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> Wind Turbine Services, Main Component Replacements, Upgrade & Modifications, Blade service & Repair</li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> UPLOAD YOUR PARTS, SERVICES OR USED WIND TURBINES& any renew energy machines </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> Consultancy, Business & development, Training & Education, Staff & Recruitment, Logistic Services, Other operational &maintanence activities </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li>
                    The powerful search tool gives you the opportunity to find the correct part, repair capability,
                    wind turbine service or wind turbine you are looking for. Upon finding you can request quotes and information from sellers.
                </li>
                <img class="marg_top left" src="~/images/tick.png" />
                <li> All RenewIn Services are Free !!!!! </li>
            </ul>
        </div>
        <div class="clr"></div>
    </div>
</div>

