@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="home_middle_sec">
        <div class="home_image"><img src="../images/go_solar_img.png" /></div>
        <p class="home_text">
            Loreum Ipsum Dummy Text Comes Here<br>
            <span>Lorem ipsum  - dolor sit -  consectetur - adipiscing - Mpibus</span>
        </p>
        <div class="home_icons">
            <a href="@Url.Action("", "Solar")">
                <span class="icon"><img src="../images/agricultural_icon.png" /></span>
                <span class="label">Solar</span>
            </a>
            <a href="@Url.Action("", "Wind")">
                <span class="icon"><img src="../images/residential_icon.png" /></span>
                <span class="label">Wind</span>
            </a>
            <a href="@Url.Action("", "Hydro")">
                <span class="icon"><img src="../images/corporate_icon.png" /></span>
                <span class="label">Hydro</span>
            </a>
            <a href="@Url.Action("", "Bio")">
                <span class="icon"><img src="../images/trust_icon.png" /></span>
                <span class="label">Bio</span>
            </a>
            <a href="#">
                <span class="icon"><img src="../images/govt_icon.png" /></span>
                <span class="label">Services</span>
            </a>
        </div>
    </div>
</div>
