@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="home_middle_sec">
        <div class="home_image"><img src="../images/go_solar_img.png" /></div>
        <p class="home_text">
            Loreum Ipsum Dummy Text Comes Here<br>
            <span>Lorem ipsum  - dolor sit -  consectetur - adipiscing - Mpibus</span>
        </p>
        <div class="home_icons">
            <a href="@Url.Action("", "Enquiry")">
                <span class="icon"><img src="../images/agricultural_icon.png" /></span>
                <span class="label">Agricultural</span>
            </a>
            <a href="@Url.Action("", "EnquiryList")">
                <span class="icon"><img src="../images/residential_icon.png" /></span>
                <span class="label">Residential</span>
            </a>
            <a href="#">
                <span class="icon"><img src="../images/corporate_icon.png" /></span>
                <span class="label">Corporates</span>
            </a>
            <a href="#">
                <span class="icon"><img src="../images/trust_icon.png" /></span>
                <span class="label">Trust / Co-operative</span>
            </a>
            <a href="#">
                <span class="icon"><img src="../images/govt_icon.png" /></span>
                <span class="label">Govt Organizations</span>
            </a>
        </div>
    </div>
</div>
