@model List<DataModel.Modal.Enquiry>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="single_grid_wrapper">
        <table class="single_grid_head" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="21%">Option</td>
                <td width="18%">Name</td>
                <td width="18%">Mobile No</td>
                <td width="18%">Pincode</td>
                <td width="25%">Action</td>
            </tr>
        </table>
        @foreach (var enquiry in Model)
        {
            <table class="single_grid" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="top">
                    <td width="21%"><img src="../images/logo_solar.png" /></td>
                    <td class="value" width="18%">@enquiry.Name</td>
                    <td class="value" width="18%">@enquiry.MobileNo</td>
                    <td class="value" width="18%">@enquiry.Pincode</td>
                    <td width="25%">
                        <button class="btn_small">Shortlist</button>
                        <button class="btn_small">Checkout</button>
                    </td>
                </tr>
                <tr class="middle">
                    <td colspan="5" class="details">Rs 750/- off <a class="left_20 link lnkEnquiryDetailLink" href="#" data-enquiry-id="@enquiry.EnquiryID">View Details</a></td>
                </tr>
                @*<tr class="bottom">
                        <td colspan="5" align="right" class="details">Lorem ipsum dolor sit amet</td>
                    </tr>*@
            </table>
        }
    </div>
    <div id="divEqueryDetailPopup" class="popup">
    </div>
</div>
