
@{
    ViewBag.Title = "ThankYou";
}

<div class="content_form">
    <div class="content_img left">
        <img style="width:450px;height:550px;" src="~/images/ecologico.png" />
    </div>
    <div class="form_section left">
        <div class="content_area">
            <div class="container">
                <div class="title" style="margin-bottom:5px"><h1> Thank you for your request! </h1></div>
                <div class="field_text">
                    <p>
                        <strong>
                            Your Search Service Request has been submitted successfully.<br />
                            Click here to See the<a href="@Url.Action("Search", "Services")" style="color:blue;"> Search Results</a> page
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


